table {
    width: 80%; /* Cambia el ancho al 80% */
    border-collapse: collapse;
    margin: 20px auto; /* Centra la tabla horizontalmente */
    font-size: 18px;
    text-align: left;
    border: 1px solid #000;
}
th, td {
    padding: 12px;
    border: 1px solid #000;
}
th {
    background-color: #c2d69b;
}
td {
    background-color: #ebf1de;
}
.osoa2textua {
    display: flex;
    align-items: flex-start; /* Alinea los elementos al principio */
}

.puntoak {
    flex: 1; /* El contenido de la izquierda ocupa todo el espacio disponible */
    font-size: 30px;
    margin-top: 30px;
}

.argazkia {
    margin-left: 20px; /* Agrega espacio entre el texto y la imagen */
}
.osoa3 .puntua {
    display: flex;
    flex-direction: column; /* Coloca los elementos en columnas */
}

.osoa3 .elementua {
    display: flex;
    align-items: center; /* Alinea elementos verticalmente en el centro */
}

.osoa3 .elementua img {
    margin-left: auto; /* Empuja la imagen hacia la derecha */
}
.osoa4{
    font-size: 20px;
}

.osoa4 .margina {
    margin-left: 10px;
}

.osoa5 div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.osoa5 ol {
    margin: 0;
    padding: 0;
    text-align: left;
}
.osoa5 img {
    max-width: 100%;
    height: auto;
}
/* Estilos generales */
.osoa5 div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.osoa5 ol {
    margin: 0;
    padding: 0;
    text-align: left;
}
.osoa5 img {
    max-width: 100%;
    height: auto;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .osoa5 div {
        flex-direction: column;
        align-items: flex-start;
    }
    .osoa5 ol {
        margin-bottom: 20px; /* Espacio entre la lista y la imagen */
    }
    .osoa5 img {
        width: 100%; /* Asegura que la imagen ocupe todo el ancho disponible */
        height: auto;
    }
}
